/*
888888b.    .d88888b.  8888888b. Y88b   d88P 
888  "88b  d88P" "Y88b 888  "Y88b Y88b d88P  
888  .88P  888     888 888    888  Y88o88P   
8888888K.  888     888 888    888   Y888P    
888  "Y88b 888     888 888    888    888     
888    888 888     888 888    888    888     
888   d88P Y88b. .d88P 888  .d88P    888     
8888888P"   "Y88888P"  8888888P"     888                                                
*/

body {
  margin: 0;
  text-align: center;
  font-family: "El Messiri", sans-serif;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.25rem;
}

/* Content in top container */

.top-container {
  background-color: bisque;
  min-height: 100vh;
  padding-top: 50px;
  position: relative;
}

.my-name {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 5.625rem;
  color: #f05454;
}

.anime-image {
  height: 350px;
  position: absolute;
  left: 0;
  bottom: 0;
  /* width:300px; */
}

/* Content in middle container */

.middle-container {
  background-color: cadetblue;
  min-height: 100vh;
  padding: 100px 0;
  /* margin: 10px; (top right bottom left) syntax when all specified */
}

.intro {
  width: 30%;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 200px auto;
  text-align: left;
}

.skill-header {
  padding-top: 30px;
  margin-bottom: 0;
}

.skill-paragraph {
  /* margin-top: 25px; */
  padding-top: 5px;
}

hr.style-two {
  border: 0;
  height: 1px;
  width: 25%;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0)
  );
  margin-left: 0;
  margin-top: 0;
}

/* Skill Images */

.first-skill {
  width: 30%;
  float: left;
  margin-right: 50px;
}

.second-skill {
  width: 30%;
  float: right;
  margin-right: 50px;
}

.third-skill {
  width: 30%;
  float: left;
  margin-right: 50px;
}

.fourth-skill {
  width: 30%;
  float: right;
  margin-right: 50px;
}

.fifth-skill {
  width: 30%;
  float: left;
  margin-right: 50px;
}

.bottom-container {
  background-color: coral;
  height: 300px;
}

/* 
       d8888 888b    888  .d8888b.  888    888  .d88888b.  8888888b.       88888888888     d8888  .d8888b.   .d8888b.  
      d88888 8888b   888 d88P  Y88b 888    888 d88P" "Y88b 888   Y88b          888        d88888 d88P  Y88b d88P  Y88b 
     d88P888 88888b  888 888    888 888    888 888     888 888    888          888       d88P888 888    888 Y88b.      
    d88P 888 888Y88b 888 888        8888888888 888     888 888   d88P          888      d88P 888 888         "Y888b.   
   d88P  888 888 Y88b888 888        888    888 888     888 8888888P"           888     d88P  888 888  88888     "Y88b. 
  d88P   888 888  Y88888 888    888 888    888 888     888 888 T88b            888    d88P   888 888    888       "888 
 d8888888888 888   Y8888 Y88b  d88P 888    888 Y88b. .d88P 888  T88b           888   d8888888888 Y88b  d88P Y88b  d88P 
d88P     888 888    Y888  "Y8888P"  888    888  "Y88888P"  888   T88b          888  d88P     888  "Y8888P88  "Y8888P"  
 */

a {
  text-decoration: none;
}

.top-container-link {
  padding: 10px 20px;
  color: #ff5959;
}
